
$body-bg: #f8fafc;

@import url('https://fonts.cdnfonts.com/css/cascadia-code');


// Color
$font-primary: 'Cascadia Code', monospace;
$bg-color: #f4e1e6; 
$accent-color: #f2a1b8; 
$accent-hover: #e07a9f; 
$text-color: #3d405b;
$button-bg: #f2a1b8;
$button-text: #fff; 
$button-hover: #e07a9f; 
$border-radius: 12px;
$shadow-color: rgba(0, 0, 0, 0.1);
$card-bg-color: #f7e6eb;
$hover-bg-color: #e5c2cc;

// Typography
$font-family-sans-serif: 'Cascadia Code', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
